* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  min-width: 23.4375rem;
}

header {
  background: url(./images/bg-header-desktop.png) no-repeat top / 100%
    22.6875rem;
}

header section {
  text-align: center;
  max-width: 45.625rem;
  margin: 0 auto;
  padding: 8.125rem 0 8.75rem;
}

header section img {
  display: block;
  margin: 0 auto;
}

header section h1 {
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 50px;
  letter-spacing: -0.046875rem;
  margin-top: 3.4375rem;
  color: hsl(210, 10%, 33%);
}

header section p {
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: 0.009375rem;
  margin-top: 1rem;
  color: hsl(201, 11%, 66%);
}

header .buttons {
  margin-top: 3.4375rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.03125rem;
  width: 14.1875rem;
  border-radius: 50px;
  padding: 0.8125rem 0;
  color: hsl(0, 0%, 100%);
}

.buttons button:first-of-type {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 10px 20px hsla(171, 66%, 44%, 0.5),
    inset 0px -3px 0px hsla(0, 0%, 0%, 0.15);
}

.buttons button:last-of-type {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 10px 20px hsla(233, 100%, 69%, 0.5),
    inset 0px -3px 0px hsla(0, 0%, 0%, 0.15);
}

.buttons button:first-of-type:hover {
  background-color: hsla(171, 66%, 44%, 0.9);
}

.buttons button:last-of-type:hover {
  background-color: hsla(233, 100%, 69%, 0.9);
}

@media only screen and (max-width: 45.625rem) {
  header {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  header section {
    padding: 7.625rem 0 10rem;
  }

  header section h1 {
    font-size: 2rem;
    line-height: 40px;
    margin-top: 4rem;
  }

  header section p {
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.0075rem;
  }

  header section div {
    flex-direction: column;
    margin-top: 3rem;
  }

  .buttons button {
    width: unset;
  }
}

@media only screen and (max-width: 23.4375rem) {
  header {
    background-image: url(./images/bg-header-mobile.png);
  }
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.3125rem;
  min-height: 9.375rem;
  padding: 0 10.3125rem;
  color: hsl(210, 10%, 33%);
  background-color: hsla(220, 18%, 97%, 1);
}

footer nav div {
  display: flex;
  align-items: center;
  gap: 8.4375rem;
  max-width: 53.4375rem;
}

footer nav img {
  width: 3.4375rem;
  aspect-ratio: 1;
}

footer nav ul {
  display: flex;
}

footer nav div ul {
  flex-wrap: wrap;
  gap: 0.75rem 1.875rem;
  line-height: 30px;
}

footer nav div ul li {
  width: 10rem;
}

footer nav > ul {
  gap: 1.5rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 48rem) {
  footer nav {
    flex-direction: column;
    gap: 3rem;
    padding: 3.25rem 6.875rem;
  }

  footer nav div {
    flex-direction: column;
    gap: 2.5rem;
  }

  footer nav div ul {
    flex-direction: column;
    text-align: center;
  }
}

main h2 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

main p {
  color: hsl(201, 11%, 66%);
  line-height: 30px;
}

main .first-section div:first-child {
  max-width: 45.625rem;
  text-align: center;
  margin: 0 auto 4rem;
}

main .first-section div:last-child {
  display: flex;
}

main .first-section div:last-child img{
  position: relative;
  left: -2rem;
}

main .first-section div:last-child div{
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  margin: 4rem 0 0 6rem;
}

main .first-section div:last-child div h2{
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

main .first-section div:last-child div p{
 font-size: 1rem;
 margin-bottom: 3rem;
}

main .second-section {
  max-width: 45.625rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7.5rem auto 0;
}

main .second-section img {
  max-width: 60rem;
  margin-top: 5rem;
}

main .third-section {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

main .third-section .three-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
}

main .third-section .three-items div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 22rem;
}

main .third-section .three-items h2 {
  font-size: 1.3rem;
}

main .third-section .three-items p {
  font-size: 1rem;
}